
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}


.container-fluid {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 0.5rem;
}

.navbar h1 {
  margin: 0;
}

.row {
  flex-grow: 1;
}

#content-left {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

#search-city {
  flex-grow: 1;
}

#search-button {
  margin-left: 0.5rem;
}

#search-history {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 0.5rem;
}

#clear-storage {
  display: block;
  margin-top: 0.5rem;
}

#content-right {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* style the current-weather jumbotron */
#current-weather {
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #f0f0f0;
}

#current-weather img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* style the five-day-forecast cards */
#five-day-forecast {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  margin-right: 0.5rem;
}

#five-day-forecast {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.input-group-append {
  display: flex;
}

#search-city {
  border-radius: 0.25rem 0 0 0.25rem;
}

#search-button {
  border-radius: 0 0.25rem 0.25rem 0;
}

