/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }
  
  /* Header styles */
  #header {
    background-color: #1a73e8;
    color: #fff;
    text-align: center;
  }
  
  #header-text {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  /* Content left styles */
  #content-left {
    height: 100vh;
  }
  
  #search-city {
    margin-right: 0.5rem;
  }
  
  #search-button {
    margin-left: 0.5rem;
  }
  
  #search-error {
    color: red;
    margin-top: 1rem;
  }
  
  #city-results {
    max-height: 40vh;
    overflow-y: scroll;
  }
  
  #city-results a {
    cursor: pointer;
  }
  
  /* Content right styles */
  #content-right {
    height: 100vh;
  }
  
  #current-weather {
    background-color: #f5f5f5;
    padding: 1rem;
  }
  
  #current-weather h3 {
    margin-top: 0;
  }
  
  #five-day-forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .forecast-card {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    width: calc(20% - 1rem);
  }
  
  .forecast-card h4 {
    margin-top: 0;
  }
  
  .forecast-card p {
    margin-bottom: 0.5rem;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    #content-left, #content-right {
      height: auto;
    }
  
    #content-right {
      margin-top: 2rem;
    }
  
    #header-text {
      font-size: 3rem;
    }
  
    #five-day-forecast {
      width: 100%;
    }
  
    .forecast-card {
      width: calc(50% - 1rem);
    }
  }